@import 'nib'

.cont
  margin 0 auto
  width 70%

.item
  margin-right 20px
  margin-bottom 20px
  float left
  width 300px
  border 1px solid #000;
  border-radius 5px

img
  height 100px

.i
  height 100px

.i, .name, .last_name, .gender
  text-align center